@import url("https://fonts.googleapis.com/css2?family=Federo&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: antiquewhite;
}
.container {
  width: 500px;
  border-radius: 8px;
  background-color: white;
  padding: 50px;
  margin: auto 0;
}
.header {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}
.header p {
  font-size: 25px;
  line-height: 1;
  font-weight: 550;
}
.header img {
  padding-top: 4px;
  width: 90px;
}
form label{
  font-size: 14px;
  font-weight: 200;
}
#email,
#password {
  width: 100%;
  height: 20px;
  padding: 20px;
  margin: 10px 0px;
  font-size: 15px;
  border: 1px solid silver;
  outline: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.input-password {
  position: relative;
  width: 100%;
}
.input-password i {
  position: absolute;
  right: 15px;
  top: 63%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #666;
}
.input-email,
.input-password {
  margin-bottom: 10px;
}
.input-reminder {
  font-family: "Noto Sans", sans-serif;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.input-reminder a{
  margin-right: 5px;
  font-size: 15px;
}
.input-chekbox {
  font-family: "arial", sans-serif;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
}
.input-chekbox input{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  cursor: pointer;
}
.input-chekbox label{
  cursor: pointer;
}
.tombol{
  align-items: center;
  display: flex;
  flex-direction: column;
}
.tombol span{
  border-bottom: 1px solid silver;
  width: 100%;
  margin: 10px 0px 20px 0px;
}
.tombol button{
  margin-bottom: 10px;
  width: 80%;
  height: 30px;
  border: 1px solid silver;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  transition: all 0.3s ease;
}
/* form input:hover{
  border-color: #fa0101;
  box-shadow: 0 0 10px rgba(61,125,192,0.3);
} */
#login-form input:hover, .tombol button:hover{
  border-color: #689ef0;
  box-shadow: 0 0 5px rgba(61,125,192,0.3);
}
.tombol button:hover{
  color: #689ef0;
}
.footer {
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: auto; 
  /* background-color: rgba(255, 255, 255, 0.8);  */
}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}

.footer img {
  height: 20px;
  margin: 5px 10px;
  vertical-align: middle;
}
